#login-container{
    position: fixed;
    right: 0;
    width: 500px;
    background-color: var( --grey-lighter);
    padding: var(--spacing-lg);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: var(--border-radius-lg);
    z-index: 9000;
    margin-top: 4.5%;
}

#login-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-lg);
}

#login-container form button{
    margin-top: var(--spacing-lg);
}

/* Añadir al final de tu archivo Login.css */

.social-login {
    margin-top: 20px;
    text-align: center;
  }
  
  .social-login p {
    margin-bottom: 10px;
    color: var(--gray-dark);
  }
  
  .login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--black) !important;
    width: 100%;
    border: 1px solid var(--gray);
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
    max-width: 250px;
  }
  
  .login-btn:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: var(--white);
  }
  
  .login-btn img {
    margin-right: 10px;
  }

  .social-buttons {
    display: flex;
    justify-content: center;
    gap: var(--spacing-sm);
  }