#login-container{
    position: fixed;
    right: 0;
    width: 500px;
    background-color: lightgray;
    padding: var(--spacing-lg);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

#login-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-lg);
}

#login-container form button{
    margin-top: var(--spacing-lg);
}