<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 403 - Acceso Prohibido</title>
    <link rel="stylesheet" href="../styles/ErrorPage.css">
</head>

<body>
    <div class="error-container">
        <div class="error-content">
            <h1 class="error-title">Error 403</h1>
            <div class="error-image">
                <span>403</span>
            </div>
            <h2 class="error-subtitle">Acceso Prohibido</h2>
            <p class="error-message">
                Lo sentimos, no tienes permisos para acceder a esta página.
            </p>
            <button id="goBackButton" class="error-button">
                Volver atrás
            </button>
        </div>
    </div>

    <script>
        document.getElementById('goBackButton').addEventListener('click', function () {
            window.location.href = 'https://biblioteca1.ieti.site';
        });
    </script>
</body>

</html>