.hidden {
    display: none;
}

.visible {
    display: block;
}

/* Margenes */
p,
input[type="file"] {
    padding: 10px;
}

.API-response-messages {
    margin-bottom: 10px;
}

/* Estilos */
.save-button {
    background-color: var(--darkblue);
    color: var(--white);
    border: none;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    font-size: var(--font-size-base);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
}

input[type="file"] {
    border: none;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    font-size: var(--font-size-base);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 10px;
}